<div class="scriby-class class-{{name}}">
	<div class="scriby-class-title">
		<h2>{{name}}</h2>
	</div>
	<div class="scriby-class-file">{{file}}:{{line}}</div>
	<div class="scriby-class-namespace">{{namespace}}</div>
	{{#if static}}
	<div class="scriby-class-static">static</div>
	{{/if}}
	{{#if is_constructor}}
	<div class="scriby-class-constructor">constructor</div>
	{{/if}}
	<div class="scriby-class-description">{{description}}</div>
	<div class="scriby-class-params">
	{{#each params}}
		{{>param}}
	{{/each}}
	</div>
	<div class="scriby-class-items">
		{{#each items}}
			{{>item}}
		{{/each}}
	</div>
</div>