<div class="scriby-item scriby-{{itemtype}} item-{{name}}">
	<div class="scriby-item-title">
		<h3>{{name}}</h3>
	</div>
	<div class="scriby-item-file">{{file}}:{{line}}</div>
	<div class="scriby-item-since">{{since}}</div>
	{{#if beta}}
	<div class="scriby-item-beta">beta</div>
	{{/if}}
	<div class="scriby-item-itemtype">{{itemtype}}</div>
	<div class="scriby-item-private">{{access}}</div>
	{{#if final}}
	<div class="scriby-item-final">final</div>
	{{/if}}
	<div class="scriby-item-bubbles">{{bubbles}}</div>
	{{#if async}}
	<div class="scriby-item-async">async</div>
	{{/if}}
	{{#if chainable}}
	<div class="scriby-item-chainable">chainable</div>
	{{/if}}
	<div class="scriby-item-type">{{type}}</div>
	<div class="scriby-item-default">{{default}}</div>
	<div class="scriby-item-description">{{description}}</div>
	<div class="scriby-item-params">
	{{#each params}}
		{{>param}}
	{{/each}}
	</div>
	<div class="scriby-item-return">
	{{#with return}}
		<div class="scriby-return-type">{{type}}</div>
		<div class="scriby-return-description">{{description}}</div>
	{{/with}}
	</div>
</div>